{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-xl-8">
    <div class="border border-primary rounded rounded-5 my-3 p-2">
      <ul>
	<li>診断したい画像を選んでください。</li>
	<li>複数枚選択できます。</li>
	<li>5枚ほど画像があると正確に診断できます。</li>
      </ul>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-xl-8">
    <form action="/pred" method="post">
      <div class="row justify-content-center my-2">
      {% for path in img_path_list %}
	<div class="col-3">
	  <input class="form-check-input" id="img-{{ loop.index }}" type="checkbox" name="img" value="{{ path }}">
	  <label class="form-check-label" for="img-{{ loop.index }}">
	    <img class="img-thumbnai" src="{{ url_for('static', filename=path) }}" width='100'>
	  </label>
	</div>
      {% endfor %}
      <div class="row justify-content-center my-3">
	<div class="col-4">
	  <button type="submit" class="btn btn-primary w-100">送信する</button>
	</div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
